$font-color: #545454;
$primary: #215184;
$family-primary: 'Brandon Grotesque';
$font-family: 'Brandon Grotesque';
@import '~bulma/bulma.sass';

body {
   font-family: Brandon Grotesque;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../assets/font/BrandonGrotesque-Bold.woff2') format('woff2'),
      url('../assets/font/BrandonGrotesque-Bold.woff') format('woff'),
      url('../assets/font/BrandonGrotesque-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../assets/font/BrandonGrotesque-Regular.woff2') format('woff2'),
      url('../assets/font/BrandonGrotesque-Regular.woff') format('woff'),
      url('../assets/font/BrandonGrotesque-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../assets/font/BrandonGrotesque-RegularItalic.woff2') format('woff2'),
      url('../assets/font/BrandonGrotesque-RegularItalic.woff') format('woff'),
      url('../assets/font/BrandonGrotesque-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../assets/font/BrandonGrotesque-Black.woff2') format('woff2'),
      url('../assets/font/BrandonGrotesque-Black.woff') format('woff'),
      url('../assets/font/BrandonGrotesque-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../assets/font/BrandonGrotesque-Medium.woff2') format('woff2'),
      url('../assets/font/BrandonGrotesque-Medium.woff') format('woff'),
      url('../assets/font/BrandonGrotesque-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.app-container{
  padding: 40px;
}

.img-wrapper {
  margin-top: 0.3em;
}

.refresh {
  background: url("../assets/icon/refresh.png") no-repeat;
  height: 20px;
  width: 20px;
}

.btn-refresh {
  border-radius: 21.5px 0 0 21.5px;
}

.sort {
  background: url("../assets/icon/sort.png") no-repeat;
  height: 20px;
  width: 20px;
}